<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="background-img">
    <header class="header">
        <nav class="nav-bar nav-bar--dark nav-bar--top">
            <a class="nav-bar__item" href="http://home.com">Home</a>
            <a class="nav-bar__item nav-bar__item--active" href="http://blog.com"
                >Blog</a
            >
            <a class="nav-bar__item" href="/staff/adrian-alvarado/web/template/register.html">Register</a>
            <a class="nav-bar__item" href="/staff/adrian-alvarado/web/template/login.html">Login</a>
        </nav>
    </header>
    
    <div class="home">
      <h1 class="home__title">Dramatically Engage</h1>

      <h2 class="home__subtitle">Blog</h2>

      <p class="home__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing.
      </p>

      <button class="home__button">Engage Now</button>
    </div>
  </body>
</html>