<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body class="body--registerForm">
    <form class="registerForm">
        <h1 class="registerForm__title">Register</h1>
        <p class="registerForm__subtitle">Lorem ipsum dolor sit amet.</p>
        <input class="registerForm__inputInline input" type="text" placeholder="First Name">
        <input class="input registerForm__inputInline" type="text" placeholder="Last Name">
        <input class="registerForm__input input" type="email" placeholder="Email">
        <input class="registerForm__input input" type="password" placeholder="Password">
        <input class="registerForm__input input" type="password" placeholder="Confirm Password">
        <div class="registerForm__inputCheck">
            <input class=" inputCheck" type="checkbox">
            <label class="registerForm__label" for="">I accept the <a href="#">Terms of Use</a> & <a href="#">Privacy Policy</a></label>
        </div>
        <button class="btn registerForm__btn">Register Now</button>
    </form>
</body>
</html>