/* RESETS */
* {
    box-sizing: border-box;
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

/* COMPONENTS */

/* ----- titles ----- */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

/* ----- containers ----- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--vertical {
    flex-direction: column;
}

.container--gapped {
    margin: 1rem;
}

.container--off {
    display: none;
}

.container--full {
    height: 100%;
}


/* ----- spinner ----- */
.spinner__image {
    width: 10vw;
    height: 10vw;
}


/* ----- forms ----- */
.field {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
}


/* ----- buttons ----- */
.button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
}

.button--medium {
    min-width: 5.5rem;
}

.button--dark {
    background-color: lightsalmon;
}

.button--dark:hover {
    background-color: salmon;
}

.button--warning {
    background-color: salmon;
}

.button--warning:hover {
    background-color: red;
}


/* ----- search results ----- */
.home__results {
    list-style: none;
}

.home__results-item {
    cursor: pointer;
}

.home__detail-image {
    max-width: 80vw;
}


/* ----- logo ----- */
.logo__image {
    width: 5vw;
}

.logo__text {
    color: salmon;
    margin: 0 0 0 1rem;
    font-family: 'Courier New', Courier, monospace;
}


/* ----- timer -----  */
.time {
    font-size: .75rem;
}