@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Resets */

* {
    /* border: 1px dashed black; */
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    padding: 0;
    margin: 0;
    border: 0;
    
}

.img-background{
    background-image: url('https://image.freepik.com/foto-gratis/vista-superior-surtido-productos-maquillaje-belleza_23-2148620013.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
    opacity: 0.7;
}
.two-display{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.img-display{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px;
    background-color: #ffc0cb7a;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px;
    width: 278px;
    height: 518px;  
}

.imgmakeup{
    justify-content: center;
    margin: 10px;
    width: 90%;
    border-radius: 25px;
}

.landing-top{
    
    display: flex;
    margin: 30px;
    justify-content: center;
    background-color: #ffc0cb7a;
    border-radius: 25px;
    width: 278px;
    height: 518px;
    box-shadow: 0px 0px 15px 0px;
}


/*Campo*/

.button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding:10px;
    background-color: transparent;
    font-size: 1.5rem;
    background: #f3acaf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
}

.button--medium{
    min-width: 8rem;
}
.button--dark{
    background-color: #ee8b8f;
}
.field {
    border-radius: 5px;
    border-style: solid;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}
.name{
    font-family: 'Dancing Script', cursive;
}


/* container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.container--vertical{
    flex-direction: column;

}

.container--gapped{
    margin: 1rem;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.container--off{
    display: none!important;
}

/* spinner */
.spinner__image {
    width: 10vw;
    height: 10vw;
}
/* Search */
.home__results {
    list-style: none;
}

.home__result {
    cursor: pointer;
}

.home__result img{
    width: 200px;
    height: auto;
}
.home__scroll{
    width: 260px; 
    height: 200px; 
    overflow: auto  
}
.home {
    width: 278px;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home__search{
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
    width: 240px;
}

.search__display{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px;
    background-color: #ffc0cb7a;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px;
    width: 278px;
    height: 518px; 

}

/*Modal*/
.modal {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #0000005e;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.modal__pop-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #c5a3c5;
    height: fit-content;
    min-width: 550px;
    max-width: 420px;
    margin: auto;
    border: 1px solid rgb(var(--black));
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal__title {
    background-color: #c5a3c5;
    margin-top: 32px;
    font-size: 1.6rem;
    padding: 0.7rem;
    border-radius: 7px;
    font-family: 'Dancing Script', cursive;
}

.modal__text {
    margin-top: 12px;
    padding: 32px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}