

.landing_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    min-height: 100vh;
    max-width: 80vw;
    margin: 0 auto;
    background-image:url('http://localhost:3000/clinica.png');
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 238px;
}

.title_landing {
    text-align: center;
    margin: 15px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    
}
@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }

.landing_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button__login{
  border-radius: 7px;
  padding: 15px;
  font-size: 20px;
  align-items: center;
  color:black;
  transition: all .3s;
  background-image: linear-gradient(90deg, rgb(160 251 254) 0%, #59d4f8 100%);
  border-radius:5px;
  cursor:pointer;
  padding: 10px 35px;
  width: 150px;
  height: 50px;
  margin: 30px;
  border:solid 2px rgb(47, 126, 230);
}

.register__button{
  border-radius: 7px;
  font-size: 20px;
  align-items: center;
  color:black;
  transition: all .3s;
  background-image: linear-gradient(90deg, rgb(160 251 254) 0%, #59d4f8 100%);
  border-radius:5px;
  cursor: pointer;
  padding: 10px 35px;
  width: 150px;
  height: 50px;
  margin: 30px;
  border:solid 2px rgb(47, 126, 230);
  

  
}
