<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Demo App</title>
</head>

<body>
    <div class="landing container">
        <button class="button">Login</button>
        <button class="button">Register</button>
    </div>

    <form class="login container container--vertical container--off">
        <input type="text" placeholder="Username" class="field">
        <input type="password" placeholder="Password" class="field">
        <div class="container">
            <button class="button">Register</button>
            <button class="button">Login</button>
        </div>
    </form>

    <div class="welcome container container--off">Bienvenido!</div>

    <form class="register container container--vertical container--off">
        <input type="text" placeholder="Name" class="field">
        <input type="text" placeholder="Surname" class="field">
        <input type="text" placeholder="Username" class="field">
        <input type="password" placeholder="Password" class="field">
        <div class="container">
            <button class="button">Login</button>
            <button class="button">Register</button>
        </div>
    </form>

    <div class="registered container container--off">
        <p>¡Ya estás registrado! Puedes pasar al Login</p><button class="button">Login</button>
    </div>

    <script src="main.js"></script>
</body>

</html>