@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap");

h1 {
  color: blueviolet;
  font-family: "Gemunu Libre", "Courier New", Courier, monospace;
  text-align: center;
}

.cool {
  background-color: yellow;
}

.nice {
  color: teal;
}

/* BEM */

.search {
  display: inline-block;
  margin: 10px;
}

.search_body {
  border-radius: 10px;
  border-style: dotted;
  background-color: lightgrey;
}

.search_title {
  background-color: darkgray;
  border-radius: 5px;
  color: white;
}

/* Button */

.button {
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
}

/* Field */

.field {
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
}

/* Register */

.register {
  background-color: yellow;
  display: inline-block;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
}

/* List */

.list {
  list-style: none;
  background-color: peru;
  border-color: rebeccapurple;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.list_item {
  color: gray;
}

/* Cart */

.cart {
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.cart_header {
  background-color: lightgray;
}

.cart_footer {
  border-style: solid none none none;
  border-width: 2px;
  border-color: black;
  background-color: lightblue;
}
