.gameDetail
    &__title
        text-align: center
    &__background
        border-radius: .5em
        overflow: hidden
        margin-bottom: 1em
    &__row
        display: flex
        justify-content: space-between
