*
    box-sizing: border-box

body
    font-family: 'Arimo', sans-serif
    background: url(https://placeimg.com/1000/1000/tech)
    line-height: 1.5
    color: $text-color
    min-height: 100vh
    margin: 20px

h1, h2, h3, h4
    font-family: 'Open Sans', sans-serif
    margin-top: 0

img
    display: block
    max-width: 100%
