@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
/* Resets */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    padding: 0;
    margin: 0;
    border: 0;
}

/* RESUSABLES */

/* Button */

.button {
  display: flex;
  justify-content: center;;
}

.button__prop {
    font-family: 'Teko', sans-serif;
    font-size: 14px;
    border-radius: 14px;
    border-style: solid;
    margin: 5px;
    background-color: #D9CAB3;
    
    
    
}

/* Field */

.center {
  display: flex;
  justify-content: center;
}

.field {
    border-radius: 16px;
    border-style: solid;
    border-color: #D9CAB3;
    margin: 5px;
}

.field:focus {
  outline: 3px solid #212121;
}

/* Panel */

.panel {
    display: inline-block;
    background-color: #6D9886;
    border-color: #D9CAB3;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 8px grey;

}

.panel__title {
    font-family: 'Bebas Neue';
    font-size: 1rem;
    text-align: center;
    border-style: solid;
    border-radius: 16px;
    background-color:#D9CAB3;
    box-shadow: 2px 2px 8px grey;
}

.panel--register {
    background-color: #6D9886;
    border-color: #D9CAB3;
    border-color:black;
    box-shadow: 2px 2px 8px grey;
}

.panel--login {
    background-color:#D9CAB3;
    color: #212121;;
    border-color: #212121;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CUSTOM */

/* Search */

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  text-shadow: 2px 2px 6px grey;
} 

 .nav-bar__link:hover {
    border-radius: 30%;
    box-shadow: 0 0 30px #212121;
  
}

.central__main-title {
    font-family: 'Teko', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px goldenrod;
}

.central {
    display: flex;
    height: 90%;
    background-color:#6D9886;
}

.central__aside {
    flex-basis: 5%;
    background-color: #6D9886;
}

.central__main {
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    background-color: #e5e5f7;
    
}

.central__main-title {
    flex-basis: 5%;
    text-align: center;
    font-size: 25px;
    background-color:#6D9886;
    margin: 0;
}

.central__main-body {
    flex-basis: 95%;
    background-color:#D9CAB3;
    margin: 0;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #d9cab3, #6d9886), repeating-radial-gradient(circle at center center, #6d9886, #212121, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

.header {
    height:5%;
    background-color: #6D9886;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 5%;
    background-color: #6D9886;
    display: flex;
    justify-content: end; 
}

.nav-bar {
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: #212121;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #212121;
    border:solid #D9CAB3


}
.nav-bar__link {
  text-decoration: none;
  color: #D9CAB3;
}

.nav-social__icon {
    height: 28px;
    margin: 7px;
} 

.nav-social__icon:hover{
    background: #eee;
    box-shadow: 0 8px 8px -4px lightblue;
}
