/*HEADER*/

.title{
    background-color: lime;
}

.line{
    border-style: double;
}

.header{
    background-color: green;
}

.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: unset;
    padding: 20px;
}

/*ABOUT ME*/

.subtitle{
    color: lime;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p{
    font-family: fantasy;
    font-size: xx-large;
    color: magenta;
}

/*PROFESSIONAL EXP*/

ul{
    list-style: none;
    font-family: cursive;
    border-width: 4px;
    border-style: solid;
    border-radius: 7px;
    text-align: center;
    background-color: teal ;
}

li{
    padding: 2px;
}

/*SKILLS*/

.number{
    background-color: yellow;
    font-family: oblique;
}

label{
    font-style: oblique;
    background-color: violet;
}

table{
    text-align: center;
    background-color: gray;
    border-width: 2px;
    border-color: green;
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}