<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="formRegProduct" class="forms">
            <h3>Registrar Productos</h3>
            <label for="productNameReg">Nombre</label>
            <input type="text" id="productNameReg">
            <label for="productRefReg">Referencia</label>
            <input type="text" id="productRefReg">
            <label for="productPriceReg">Precio unitario</label>
            <input type="text" id="productQtyReg">
            <label for="productQtyReg">Cantidad</label>
            <input type="text" id="productQtyReg">
            <div>
                <button class="botones" type="submit">Registrar</button>
                <button class="botones" type="clear">Clear</button>
            </div>
            
    </form>
    <form id="formSearchProduct" class="forms">
        <h3>Buscar Productos</h3>
        <label for="productNameSearch">Nombre</label>
        <input type="text" id="productNameSearch">
        <label for="productRefSearch">Referencia</label>
        <input type="text" id="productRefSearch">

        <button class="botones" type="submit">Buscar</button>
</form>
    
    <script src="main.js"></script>
</body>
</html>