<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body">
    <div class="register__box">
        <div>
        <h1 class="register">Register</h1>
        </div>
        <div class="content">
                <div>
                    <div class="body__content-register-img">
                    <div class="body__content-text">
                        <div class="body__content-checkregister">
                            <div class="body__content-register">
                                <label for="Name"> Name </label><input class="field"  type="text" name="name" id="rname" placeholder="name"><br>
                            </div>
                        <div class="body__content-register">
                            <label for="birthdate">Birthdate </label><input class="field" type="date" name="birth" id="birthday"><br>
                        </div>
                        <div class="body__content-register">
                            <label for="email"> Email</label><input class="field"  type="text" name="email" id="email" placeholder="email"><br>
                        </div>
                        <div class="body__content-register">
                            <label for="Username"> Username</label><input class="field"  type="text" name="username" id="username" placeholder="username"><br>
                        </div>
                        <div class="body__content-register">
                            <label for="password">Password </label><input class="field"  type="password" name="password" id="password"placeholder="password"><br>
                        </div>
                        <div class="body__content-register">
                            <label for="confirm password">Confirm Password </label><input class="field"  type="password" name="password" id="password"placeholder="password"><br>
                        </div>
                         <button class="button" type="submit"> Register </button> 
                         <button class="button" type="reset">Clear </button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    <footer>
        <p>Copyright 2019</p>
            <p><a href=”#”>Ley de Cookies</a></p>
            <p>Esta es nuestra dirección de contacto</p>
            <p>Síguenos en <a href=”#”>Facebook</a></p>
    </footer>
</body>
</html>