@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Register_cliPet {
    margin: 15px;
    padding: 15px;
    border: solid 1px;
    width: 80%;
}

.tit_ReCliPet {
    font-family: 'Montserrat', sans-serif;
    color: rgb(5 80 141);
    font-size: 22px;
    text-align: center;
    margin: 12px;
}

.input_reCliPet {
    margin: 5px;
    height: 40px;
    width: 288px;
    background-color: #fdf5f5f2;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border: 1px solid;
    padding: 12px;
}
.text-area_reCliPet {
    margin: 5px;
    background-color: #fdf5f5f2;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border: 1px solid;
    padding: 12px;
}

.button_CliPet {
    padding: 8px;
    color: #fff;
    border: 2px solid rgb(10, 6, 6);
    text-align: center;
    font-size: 1.05em;
    cursor: pointer;
    background-color: #093d7d;
    margin: 12px auto;
    display: block;
}

.input_CliPet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 15px;
}

.reCliPet {
    margin: 5px;
    height: 40px;
    width: 288px;
    background-color: #fdf5f5f2;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border: 1px solid;
    padding: 12px;
}

.checkbox_label {
    display: flex;
    max-width: 298px;
    justify-content: flex-start;
    align-items: center;
    min-width: 298px;
}

input[type="checkbox"].reCliPet {
    height: 20px;
    width: 20px;
    margin: 15px 5px;
}