/* Welcome */
 body{
   background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Ffb%2Fae%2Fd5%2Ffbaed5510b4db058f6921aae33233202.jpg&f=1&nofb=1');
   
 }
.landing__title {
    text-align: center;
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
  }

.landing__subtitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 1rem;
}
  .landing__buttons {
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items:center;
  }
  .button{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(209, 120, 190);
    margin-top: 20px;
    text-align: center;
  }

/* Contenedor-app */

.container--off {
    display: none
}

/* REGISTER */

.form__title {
  text-align: center; 
  font-family: 'Birthstone', cursive;
  font-size: 3rem;
  color:rgb(233, 25, 171)

}

.form__subtitle{
  text-align: center;
  font-size: 1.2rem;
  color:rgb(190, 47, 147)
}

.form__input{
  margin: 5px;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border:none;
  padding: 15px; 
  background-color: rgba(255,255,255,0.5);   
}

.form__terms{
  justify-content: center;
  display: flex;
}

.link {
  text-decoration: none;
}

.Sing-up__buttons{
  display:flex;
  justify-content: center;
  flex-flow: column;
  align-items:center;
}


/* LOGIN */

.Sign-in__title{
  text-align: center; 
  font-family: 'Birthstone', cursive;
  font-size: 1.5rem;
  color:rgb(233, 25, 171)

}

.sign-in__subbtitle{
  text-align: center;
  font-size: 1.1rem;
  color:rgb(190, 47, 147)
  
}

.sign-in_inputs input{
  margin: 5px;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border:none;
  padding: 15px; 
  background-color:rgba(255,255,255,0.5);
}

.sing-in_buttons{
  display:flex;
  justify-content: center;
  flex-flow: column;
  align-items:center;
}




