<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>


<body class="container">


    <h1>Bienvenidos a la Página</h1><br>

    <nav class="nav-bar nav-bar__item">
        <a class="nav-bar__item" href="http://home.com">Home</a>
        <a class="nav-bar__item" href="http://search.com">Search</a>
        <a class="nav-bar__item" href="http://blog.com">Blog</a>
        <a class="nav-bar__item" href="http://about.com">About</a>
    </nav>


        <div class="information information__access">
        <p>Te invitamos a registrarte en este  sitio </p>
        <button><a href="register.html">Registrate aquí</a></button><br><br>
        <button><a href="login.html">Iniciar Sesión</a></button>
        </div>

        <div class="information information__aboutus">
        <h2>Acerca de Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis hic commodi nam eveniet quo autem, eum facere, voluptates maiores labore magni ipsum soluta? Quae dignissimos nobis veritatis repudiandae recusandae. Quia.</p>

        <div class="information information__products">
        <h3>Nuestros Productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit rerum architecto expedita sed placeat quos adipisci. Atque, perspiciatis tenetur iste eum enim consequuntur? Quasi reprehenderit repellat facere excepturi asperiores modi.</p>
        </div>
        </div>

       
</body>
</html>