@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merienda&family=Nanum+Myeongjo&display=swap');

.Register_cliPet{
    margin: 15px;
    padding: 15px;
    border:solid 1px;
    width: 50%;
    height: 33%;
}

.tit_ReCliPet {
    color: rgb(6, 5, 12);
    font-size: 25px;
}



.reClipet{
    padding: 13px;
    background: rgb(245 245 248 / 72%);
    
}

.button_CliPet{
    display: inline-block;
    padding: 8px;
    color: #fff;
    border: 2px solid rgb(10, 6, 6);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    margin:30px;
    cursor:pointer; 
}