.feedback {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.panel {
    background-color: var(--sixth);
    width: 400px;
    padding: 10px 20px 50px;
    border-radius: 20px;
}

.feedback__text {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.feedback__text--info {
    color: var(--info);
}
.feedback__text--warn {
    color: var(--warning);
}
.feedback__text--success {
    color: var(--success);
}
.feedback__text--error {
    color: var(--danger);
}
