/* ----- typografy ----- */
@font-face {
    font-family: 'Lucida Console Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lucida Console Regular'), url('assets/lucon.woff') format('woff');
}


/* ----- Generics ----- */

:root {
    --black: 0, 0, 0;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Lucida Console Regular";
    font-size: 11px;
    text-decoration: none;
    color: var(--black);
    background: transparent;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
    overflow-x: auto;
}

.panel--off {
    display: none!important;
}

/* ----- Buttons ----- */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 18px;
    padding: 12px;
    width: 120px;
    transition: background-color .35s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #c0c0c0;
}

.button--adaptative {
    width: calc(100% - 18px - 18px);
}

.button--success {
    background-color: #aaffaa;
}

.button--success:hover {
    background-color: #66ff66;
}

.button--warning {
    background-color: #ffaaaa;
}

.button--warning:hover {
    background-color: #ff6666;
}

/* ----- Modal ------ */
.modal {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: rgba(var(--black), .2);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.modal__pop-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f0f0f0;
    min-height: 160px;
    max-height: 160px;
    min-width: 400px;
    max-width: 400px;
    margin: auto;
    border: 1px solid rgb(var(--black));
    border-radius: 7px;
}

.modal__title {
    background-color: white;
    margin-top: 32px;
    font-size: 2.2rem;
    padding: 0.7rem;
    border-radius: 7px;
}

.modal__control-box {
    display: flex;
}