<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Register Page</title>
  </head>

  <body class="register">
    <header class="header">
      <div class="header-menu">
        <button class="menu__button pointer">☰</button>
        <nav class="nav-bar">
          <a
            class="nav-bar__item"
            href="/staff/ismael-garcia/web/template/home.html"
            >Home</a
          >
          <a
            class="nav-bar__item"
            href="/staff/ismael-garcia/web/template/blog.html"
            >Blog</a
          >
          <a
            class="nav-bar__item"
            href="/staff/ismael-garcia/web/template/register.html"
            >Register</a
          >
          <a
            class="nav-bar__item"
            href="/staff/ismael-garcia/web/template/login.html"
            >Login</a
          >
        </nav>
      </div>
    </header>

    <form class="register__form">
      <h1 class="register__form-title">------- Register -------</h1>
      <p class="register__form-subtitle">Lorem ipsum dolor sit amet.</p>
      <div class="register__form-div">
        <input
          class="register__form-input"
          type="text"
          placeholder="First Name"
        />
        <input
          class="register__form-input"
          type="text"
          placeholder="Last Name"
        />
        <input class="register__form-input" type="email" placeholder="Email" />
        <input
          class="register__form-input"
          type="password"
          placeholder="Password"
        />
        <input
          class="register__form-input"
          type="password"
          placeholder="Confirm Password"
        />
      </div>
      <div class="register__form-terms">
        <input class="register__form-checkbox" type="checkbox" /><label
          class="register__form-label"
          for=""
          >I accept the <a class="register__link" href="#">Terms of Use</a> &
          <a class="register__link" href="#">Privacy Policy</a></label
        >
      </div>
      <button class="register__button">Register Now</button>
    </form>

    <script src="main.js"></script>
  </body>
</html>
