<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Register Page</title>
  </head>
  <body class="register-img">
    <form class="form">
      <h1 class="form__title">------- Register -------</h1>
      <p class="form__subtitle">Lorem ipsum dolor sit amet.</p>
      <div class="form__input-register">
        <input class="form__input" type="text" placeholder="First Name" />
        <input class="form__input" type="text" placeholder="Last Name" />
        <input class="form__input" type="email" placeholder="Email" />
        <input class="form__input" type="password" placeholder="Password" />
        <input
          class="form__input"
          type="password"
          placeholder="Confirm Password"
        />
      </div>
      <div class="form__terms">
        <input class="form__checkbox" type="checkbox" /><label
          class="form__label"
          for=""
          >I accept the <a class="link" href="#">Terms of Use</a> &
          <a class="link" href="#">Privacy Policy</a></label
        >
      </div>
      <button class="button">Register Now</button>
    </form>
  </body>
</html>
