@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

/*resets*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* REGISTER PAGE */

.register-img {
  background-image: url(https://fondosmil.com/fondo/17010.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 600px;
  background-color: transparent;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 50px;
}

.form__title {
  color: white;
  text-align: center;
  font-family: "Birthstone", cursive;
  font-size: 3rem;
}

.form__subtitle {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.form__input-register {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.form__input {
  margin: 5px;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border: none;
  padding: 15px;
}

.form__terms {
  justify-content: center;
  display: flex;
}

.form__label {
  color: white;
}

.link {
  text-decoration: none;
  color: rgb(206, 111, 74);
}

.button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(206, 111, 74);
  align-self: center;
  margin-top: 20px;
}

/*lOGIN PAGE*/

.background-login {
  background-image: url(https://fondosmil.com/fondo/17010.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 500px;
  height: 400px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.login__title {
  font-family: "Birthstone", cursive;
  text-align: center;
  color: white;
}

.login__input {
  /*font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;*/
  height: 50px;
  width: 300px;
  border-radius: 20px;
  border: none;
  padding: 15px;
}

.login__button {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 35px;
  margin: 0 auto;
  display: block;
  border-style: none;
  border-radius: 20px;
  background-color: rgb(206, 111, 74);
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: white;
}

/* HOME PAGE */

.background-img {
  background-image: url(https://fondosmil.com/fondo/17010.jpg);
  /*height: 100vw;*/
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-flow: column;
  /*justify-content: center;
  align-items: center;*/
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  border-bottom: 1px solid white;
  /*height: 40px;*/
  font-family: "Ephesis", cursive;
  font-size: 1.4rem;
}

.nav-bar {
  /*width: 50%;*/
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.nav-bar__item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.home {
  font-family: "Ephesis", cursive;
  color: white;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.home__title {
  font-size: 5rem;
}

.home__subtitle {
  font-size: 3rem;
}

.home__description {
  font-size: 1.9rem;
}

.home__button {
  padding: 15px 20px;
  background-color: rgb(206, 111, 74);
  border-style: none;
  border-radius: 20px;
  color: white;
}

/* BLOG PAGE */

.blog-body {
  background-color: rgb(206, 111, 74);
}

.blog-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 75px auto auto auto auto 50px;
  grid-template-areas:
    "blog-grid__header"
    "blog-grid__title"
    "div-img-1"
    "div-img-2"
    "div-img-3"
    "div-img-4"
    "blog-grid__footer";
}

@media screen and (min-width: 960px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 100px auto auto 75px;
    grid-template-areas:
      "blog-grid__header blog-grid__header"
      "blog-grid__title blog-grid__title"
      "div-img-1 div-img-2"
      "div-img-3 div-img-4"
      "blog-grid__footer blog-grid__footer";
  }
}

.blog-grid__header {
  /*height: 10%;*/
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  border-bottom: 1px solid white;
  /*height: 40px;*/
  font-family: "Ephesis", cursive;
  font-size: 1.4rem;
  grid-area: blog-grid__header;
}

.blog-grid__title {
  grid-area: blog-grid__title;
  display: flex;
  justify-content: center;
  font-family: "Ephesis", cursive;
  font-size: 3rem;
  color: white;
}

.img {
  max-width: 100%;
  height: auto;
}

.div-img-1 {
  grid-area: div-img-1;
  color: white;
}

.div-img-2 {
  grid-area: div-img-2;
  color: white;
}

.div-img-3 {
  grid-area: div-img-3;
  color: white;
}

.div-img-4 {
  grid-area: div-img-4;
  color: white;
}

.blog-grid__footer {
  grid-area: blog-grid__footer;
  /*height: 10%;*/
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  border-top: 1px solid white;
  /*height: 40px;*/
  font-family: "Ephesis", cursive;
  font-size: 1.4rem;
}

.nav-bar-footer {
  /*width: 50%;*/
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
