.register {
    width: 80%;
    margin: 1.5em auto 0;
}

.register__title {
    text-align: center;
}

.registerForm__input {
    margin-bottom: 1em;
}

.registerForm__btn {
    margin-bottom: 1em;
}
