@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Shadows+Into+Light+Two&display=swap');

html, body {
    height: 100;
    padding: 0;
    margin: 0;
    border: 0;
    background: linear-gradient(to bottom, #3a3a3a, #D9C5B2);
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-simple-atmosphere-business-gray-background-ppth5-background-image_142920.jpg);
}

.title-landing {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3rem;
    color: rgb(170, 45, 45);
    text-shadow: 2px 2px 10px rgb(179, 179, 179);
}

.titles {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(170, 45, 45);
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgb(201, 201, 201);
}

hr {
    height: 1px;
    width: 300px;
    background-color: brown;
    border: brown 0.5px solid;
}
/* ------ containers ------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.container--vertical {
    flex-direction: column;
}

.container--off {
    display: none;
}

.container--search {
   padding: 5px;
}

.container--search--heart {
    padding-left: 29rem;
    margin-right: -29rem;
}

/* ------ form ------- */
form {
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: white;
    box-shadow: 2px 2px 5px rgb(56, 56, 56);
    background-color: #F7F7FF;
}

/* ------ inputs ------- */
input {
    height: 25px;
    margin: 5px;
    border: rgb(170, 45, 45) 2px solid;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: black;
    padding: 5px;
    transition: all 0.4s;
}

.input--click {
    border-top-left-radius: 0;
    box-shadow: 1px 1px 5px grey;
    
}
::placeholder {
    color: black;
    font-size: 14px;
}

/* ------ buttons ------- */
.button {
    margin: 5px;
    border: 2px rgb(170, 45, 45) solid;
    border-radius: 10px;
    background-color: transparent;
    width: 130px;
    height: 40px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: oblique;
    transition: all 0.3s;
}

.buttons--landing {
    box-shadow: 2px 2px 10px grey;
}

.button--red {
    background-color: rgb(170, 45, 45);
    color: white;
    box-shadow: 1px 1px 5px rgb(150, 70, 70);
}

.button--out--form {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
}

.button:hover {
    background-color: rgb(170, 45, 45);
    color: white;
}
