body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 16, 75);
    font-family: 'Ubuntu', sans-serif;
}

.form {
    margin-bottom: 20px;
    border: 2px solid rgb(170, 45, 45);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background-color: rgb(27, 16, 75);
    padding: 20px;
    color: white;
}

input {
    margin-left: 10px;
    border: rgb(170, 45, 45) 2px solid;
    border-radius: 10px;
    background: rgb(27, 16, 75);
    outline: none;
    color: white;
    height: 10px;
    padding: 5px;
}
::placeholder {
    color: white;
}

.button {
    margin: 0 5px 0 5px;
    border: 2px rgb(170, 45, 45) solid;
    border-radius: 10px;
    background-color: rgb(27, 16, 75);
    width: 100px;
    height: 30px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: oblique;
}

.button2 {
    margin: 0 5px 0 5px;
    border: 2px rgb(170, 45, 45) solid;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 30px;
    color: rgb(27, 16, 75);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: oblique;
}