<!DOCTYPE html>
<html lang="en">

<head>
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
        <button class="hamburguer">☰</button>
        <nav class="menu menu-products">
            <a href="home.html" class="menu__item">Home</a>
            <a href="/staff/gerard-sole/web/cv/index.html" class="menu__item">About us</a>
            <a href="products.html" class="menu__item">Products</a>
            <a href="http://www.just-fucking-google.it?s=css%20help" class="menu__item">Help</a>
            <a href="https://c.tenor.com/8PLapNWIMIQAAAAM/longday-long.gif" class="menu__item">contact</a>
            <a href="login.html" class="menu__item">logout</a>
        </nav>
    <div class="main">
        <div class="product product-1">
            product-1
        </div>
        <div class="product product-2">
            product-2
        </div>
        <div class="product product-3">
            product-3
        </div>
        <div class="product product-4">
            product-4
        </div>
    </div>
    <footer class="footer">
        <ul class="footer__list">
            <li><a class="footer__list-item"
                    href="https://www.expansion.com/empresas/banca/2016/02/21/56c9ae56ca4741e1778b4575.html">Legal
                    Advice</a></li>
            <li><a class="footer__list-item" href="https://www.humanlevel.com/diccionario-marketing-online/sitemap">Site
                    Map</a></li>
            <li><a class="footer__list-item" href="https://www.nasa.gov/careers">Work with us</a></li>
            <li><a class="footer__list-item" href="https://c.tenor.com/8PLapNWIMIQAAAAM/longday-long.gif">Contact</a>
            </li>
        </ul>
    </footer>
    <script src="main.js"></script>
</body>

</html>