@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');

/* RESETS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    text-decoration: none;
    text-transform: none;
    background: transparent;
    /* font-size: 16px; */
    outline: none;
    tab-size: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
    /* cursor: none; */
    /* font-family: 'Courier New', Courier, monospace;
    font-weight: 600; */
}

html,
body {
    min-width: 100vw;
    min-height: 100vh;
}

/* FONTS */
:root {
    --primary-font: 'Courier Prime', Courier, monospace;
    --secondary-font: 'Courier New', Courier, monospace;
}


/* COLOR VARIABLES */

/* 'amber': {
'50': '#fffcf2', 
'100': '#fff9e6', 
'200': '#ffefbf', 
'300': '#ffe599', 
'400': '#ffd24d', 
'500': '#ffbf00', 
'600': '#e6ac00', 
'700': '#bf8f00', 
'800': '#997300', 
'900': '#7d5e00'
} */

:root {
    --primary-color: #ffbf00;
    --secondary-color: #ffd24d;
    --font-color: #424242;
    --bg-color: #fffcf2;
    --heading-color: #292922;
}

/* [data-theme="dark"] {
    --primary-color: #ffbf00;
    --secondary-color: #ffe599;
    --font-color: #fffcf2;
    --bg-color: #161625;
    --heading-color: #818cab;
} */


/* COMPONENTS */

html {
    cursor: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--primary-font);
}

/* ----- titles ----- */
h1 {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    color: var(--heading-color);
}


/* ----- containers ----- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--vertical {
    flex-direction: column;
}

.container--gapped {
    padding: 1rem;
}

.container--off {
    display: none;
}

.container--full {
    height: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----- forms ----- */
.field {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: text;
}


/* ----- buttons ----- */
.button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: 5px;
    padding: 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: none;
    color: var(--heading-color);
    font-family: var(--primary-font);
}

.button:hover {
    /* border-color: var(--heading-color); */
    color: #ffbf00;
}

.button--medium {
    min-width: 5.5rem;
}

.button--emphasized {
    border-color: var(--heading-color);
}

.button--emphasized:hover {
    border-color: var(--heading-color);
    color: var(--heading-color);
}

.button--warning:hover {
    background-color: salmon;
}

.fav-button {
    border-style: none;
}


/* ----- lists ----- */
ul {
    list-style-type: none;
}


/* ----- images ----- */
img {
    border-radius: 10px;
}


