/* RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: none;
  background: transparent;
  /* font-size: 16px; */
  outline: none;
  tab-size: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  cursor: default;
  /* font-family: 'Courier New', Courier, monospace;
  font-weight: 600; */
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}


/* COLOR VARIABLES */
/* 'vista-blue': {
'50': '#fafdfc', 
'100': '#f5fbf9', 
'200': '#e5f5ef', 
'300': '#d6efe5', 
'400': '#b7e3d2', 
'500': '#98d7bf', 
'600': '#89c2ac', 
'700': '#72a18f', 
'800': '#5b8173', 
'900': '#4a695e'
}

'amber': {
'50': '#fffcf2', 
'100': '#fff9e6', 
'200': '#ffefbf', 
'300': '#ffe599', 
'400': '#ffd24d', 
'500': '#ffbf00', 
'600': '#e6ac00', 
'700': '#bf8f00', 
'800': '#997300', 
'900': '#7d5e00'
}

'cerulean': {
'50': '#f2fafc', 
'100': '#e6f5fa', 
'200': '#bfe6f2', 
'300': '#99d6eb', 
'400': '#4db8db', 
'500': '#0099cc', 
'600': '#008ab8', 
'700': '#007399', 
'800': '#005c7a', 
'900': '#004b64'
} */

:root {
  --primary-color: #ffbf00;
  --secondary-color: #ffd24d;
  --font-color: #424242;
  --bg-color: #fffcf2;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #ffbf00;
  --secondary-color: #ffe599;
  --font-color: #fffcf2;
  --bg-color: #161625;
  --heading-color: #818cab;
}


/* COMPONENTS */

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}


/* ----- titles ----- */
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  color: var(--heading-color);
}


/* ----- containers ----- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--vertical {
  flex-direction: column;
}

.container--gapped {
  padding: 1rem;
}

.container--off {
  display: none;
}

.container--full {
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ----- forms ----- */
.field {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 10px;
  background-color: transparent;
  font-size: 1rem;
  cursor: text;
}


/* ----- buttons ----- */
.button {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 10px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  color: var(--heading-color);
}

.button--medium {
  min-width: 5.5rem;
}

.button--dark {
  background-color: #ffbf00;
}

.button--dark:hover {
  background-color: #ffd24d;
}

.button--warning:hover {
  background-color: salmon;
}

.fav-button {
  border-style: none;
}


/* ----- lists ----- */
ul {
  list-style-type: none;
}


/* ----- images ----- */
img {
  border-radius: 10px;
}


