.cursor {
    pointer-events: none;
}
    
.cursor__ball {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cursor__ball--big circle {
    fill: transparent;
    stroke: var(--burnt-sienna-600);
    stroke-width: 1px; 
}

.cursor__ball--small circle {
    fill: var(--heading-color);
}

