.description {
    position: absolute;
    top: 50vh;
    left: 4.8vw;
}

.description__motto {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--heading-color);
}

.description__text {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    color: var(--font-color);
}