/* ----- CONTAINERS ----- */

.sticky-parent {
    height: 400vh;
}

.sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.horizontal {
    display: flex;
    position: relative;
}

.dim {
    min-width: 25vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.dif {
    min-width: 75vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.dim.one {
    min-width: 50vw;
    background-color: var(--color-50);
}

.dif.two {
    background-color: var(--color-50);
}

.dim.three {
    background-color: var(--color-50);
}

.dif.four {
    background-color: var(--color-50);
}

.dim.five {
    background-color: var(--color-50);
}

.dif.six {
    min-width: 100vw;
    background-color: var(--color-50);
}

.dim.seven {
    min-width: 75vw;
    background-color: var(--color-50);
}


/* ----- IMAGES ----- */

.cover-image--outer {
    height: 100vh;
    width: 40vw;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    /* left: 60vw; */
    left: 110vw;
    will-change: left, transform;
    z-index: 20;
    filter: grayscale(100%);
    transition: left .91s cubic-bezier(.77,0,.175,1), transform cubic-bezier(.77,0,.175,1);
}

.cover-image--outer.left {
    /* left: 15vw; */
    left: 65vw;
}

.image--outer:not(.big) {
    /* position: absolute; */
    position: fixed;
    bottom: 0;
}

.parallax:not(.cover-image--outer) {
    will-change: transform;
    transition: transform .1s ease-out;
}

.image--outer.type-a {
    will-change: opacity;
    opacity: 0;
    transition: opacity .91s cubic-bezier(.77,0,.175,1);
}

.image--outer.type-a.show {
    opacity: 1;
}

.image {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
}

.big {
    position: absolute;
    height: 100vh;
    width: 40vw;
    /* left: 20vw; */
    z-index: 10;
}

.medium {
    height: 50vh;
    width: 20vw;
    z-index: 20;
    will-change: transform, left;
    transition: transform .3s cubic-bezier(.77,0,.175,1), left .3s cubic-bezier(.77,0,.175,1);
}

.small {
    height: 30vh;
    width: 12vw;
    z-index: 30;
    will-change: transform, left;
    transition: transform .3s cubic-bezier(.77,0,.175,1), left .3s cubic-bezier(.77,0,.175,1);
}

/* ----- placing ----- */
.big.type-a {
    left: 70vw;
}

.small.type-a {
    /* left: 54vw; */
    left: 104vw;
}

.big.type-b {
    left: 170vw;
}

.medium.type-b {
    /* left: 54vw; */
    left: 204vw;
}

.small.type-b {
    /* left: 15vw; */
    left: 165vw;
}

.big.type-c {
    left: 270vw;
}

.medium.type-c {
    /* left: 52vw; */
    left: 302vw;
}


.small.type-c {
    /* left: 45vw; */
    left: 295vw;
}



