.results-grid {
	display: grid;
	margin: 2em;
  	gap: 20px;
	padding: 0.5vw;
  	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.results-grid__cell-image {
	border-radius: 8px;
	display: block;
	position: relative;
	overflow: hidden;
}

.results-grid__cell-image img {
	max-width: 100%;
	max-height: 100%;
}

.item-info {
	font-size: .9rem;
}

.back {
	background: none;
	border: 0;
	padding: 0;
	margin: auto 0 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    stroke: #000;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
}

.back svg {
	stroke-linecap: round;
}

.back:hover,
.back:focus {
	outline: none;
	stroke: #823725;
}

.content--open .back {
	pointer-events: auto;
}

.results-fav-button {
    border-style: none;
	position: absolute;
	bottom: 3%;
	right: 3%;
}