.welcome, .register-ok, .welcome__details, .welcome__results {
    font-family: 'Noto Sans', sans-serif;
    padding: 30px;
    color: brown;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.welcome__results--ul {
    cursor: pointer;
    list-style: none;
}