@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Shadows+Into+Light+Two&display=swap');

.logo__image {
    width: 15vw;
}

.logo__text {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3rem;
    color: rgb(170, 45, 45);
    text-shadow: 2px 2px 10px rgb(179, 179, 179);
}