/* ----- spinner ----- */ 

.circulo1 {
    fill:rgb(170, 45, 45);
    animation: miAnimacion 1.5s alternate infinite;
}
.circulo3 {
    fill:rgb(179, 102, 102);
    animation: miAnimacion 1.5s alternate infinite;
}
.circulo2 {
    fill:rgb(165, 144, 144);
    animation: miAnimacion 1.5s alternate infinite;
}
.circulo4 {
    fill:rgb(165, 144, 144);
    animation: miAnimacion 1.5s alternate infinite;
}
.circulo5 {
    fill:rgb(165, 144, 144);
    animation: miAnimacion 1.5s alternate infinite;
}
.circulo6 {
    fill:rgb(165, 144, 144);
    animation: miAnimacion 1.5s alternate infinite;
}

.spinner {
    background-color: black;
    height: 200vw;
    width: 100vw;
    top: -15px;
    left: -10px;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}

#spinner {
    animation: rotate-out 0.8s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
  }

  @keyframes rotate-out {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(180deg)
    }
  }

