<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="main.css">
  <title>Time tracking dashboard</title>
</head>
<body>
  <main class="dashboard">
    <section class="profile">
      <div class="profile__user">
        <img class="user__img" src="images/image-jeremy.png" alt="Jeremy">
        <span class="user__report">Report for</span>
        <h1 class="user__name">Jeremy Robson</h1>
      </div>
      <div class="periodicity">
        <a href="#">Daily</a>
        <a href="#">Weekly</a>
        <a href="#">Monthly</a>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--work"></div>
      <div class="data__times">
        <h3 class="times__type">Work</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">32hrs</p>
        <p class="times__lastWeek">Last Week - 36hours</p>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--play"></div>
      <div class="data__times">
        <h3 class="times__type">Play</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">10hrs</p>
        <p class="times__lastWeek">Last Week - 8hrs</p>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--study"></div>
      <div class="data__times">
        <h3 class="times__type">Study</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">4hrs</p>
        <p class="times__lastWeek">Last Week - 7hrs</p>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--exercise"></div>
      <div class="data__times">
        <h3 class="times__type">Exercise</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">4hrs</p>
        <p class="times__lastWeek">Last Week - 5hrs</p>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--social"></div>
      <div class="data__times">
        <h3 class="times__type">Social</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">5hrs</p>
        <p class="times__lastWeek">Last Week - 10hrs</p>
      </div>
    </section>
    <section class="data">
      <div class="data__background data__background--selfcare"></div>
      <div class="data__times">
        <h3 class="times__type">Self Care</h3><img src="images/icon-ellipsis.svg" alt="Ellipsis">
        <p class="times__hours">2hrs</p>
        <p class="times__lastWeek">Last Week - 2hrs</p>
      </div>
    </section>
  </main>
</body>
</html>