<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>App demo</title>
    <script src="user.prototype.js"></script>
    <script src="users-collection.prototype.js"></script>
  </head>
  <body class="body-bg">
    <div class="landing">
      <div class="landing__title">
        <h1>Welcome</h1>
      </div>
      <div class="landing__subtitle">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse aperiam
          saepe quam obcaecati vel consequatur blanditiis sapiente nesciunt,
          laudantium, iusto aut. Corporis nam, ex rem repellendus omnis quas sit
          ipsa!
        </p>
      </div>
      <div class="landing__buttons">
        <button class="button">SIGN IN</button>
        <button class="button">SIGN UP</button>
      </div>
    </div>
    <!-- Sign in begins -->

    <div class="sign-in container--hide">
      <div class="sign-in__title">
        <h1>Sign In</h1>
      </div>
      <div class="sign-in__subtitle">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse aperiam
          sapiente.
        </p>
      </div>
      <form action="" class="sign-in__form">
        <div class="sign-in__inputs">
          <input
            type="email"
            class="input"
            name="mail"
            placeholder="Email"
          />
          <input
            type="password"
            class="input"
            name="password"
            placeholder="password"
          />
        </div>
        <div class="sign-in__buttons">
          <button type="submit" class="button">SIGN IN</button>
          <p>Go to <a class="link link--sign-up">Sign Up</a></p>
        </div>
      </form>
    </div>

    <!-- sign up begins -->

    <div class="sign-up container--hide">
      <div class="sign-up__title">
        <h1>Sign Up</h1>
      </div>
      <div class="sign-up__subtitle">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse aperiam
          sapiente.
        </p>
      </div>

      <div class="sign-up__inputs">
        <input
          type="text"
          class="input"
          name="name"
          placeholder="name"
        />
        <input
          type="text"
          class="input"
          name="last name"
          placeholder="last name"
        />
        <input
          type="email"
          class="input"
          name="mail"
          placeholder="Email"
        />
        <input
          type="password"
          class="input"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="sign-up__checkbox">
        <input type="checkbox" class="checkbox" name="checkbox" />
      </div>

      <div class="sign-up__buttons">
        <button type="submit" class="button">SIGN UP</button>
        <p>Go to <a class="link link--register">Sign In</a></p>
      </div>
    </div>

    <!-- thanks you begins -->

    <div class="thank-you container--hide">
      <div class="thank-you__title">
        <h1>Thanks for register</h1>
      </div>
      <div class="thank-you__subtitle">
        <p>Go to Sign Up to access</p>
      </div>

      <div class="thank__button">
        <button class="button">SIGN UP</button>
      </div>
    </div>

    <!-- home begins -->

    <div class="home container--hide">
      <div class="home__title">
        <h1>Relax</h1>
      </div>
      <div class="home__subtitle">
        <p>You're at home</p>
      </div>

      <div class="home__button">
        <button class="button">LOG OUT</button>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>


