html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.container--vertical {
    flex-direction: column;
}

.form {
    margin-bottom: 20px;
    border: 2px solid rgb(170, 45, 45);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background-color: rgb(27, 16, 75);
    padding: 20px;
    color: white;
}

input {
    height: 15px;
    margin: 5px;
    border: rgb(170, 45, 45) 2px solid;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: black;
    padding: 5px;
}
::placeholder {
    color: black;
}

.button {
    margin: 5px;
    border: 2px rgb(170, 45, 45) solid;
    border-radius: 10px;
    background-color: transparent;
    width: 120px;
    height: 30px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: oblique;
}

.container--off {
    display: none;
}