 .Login_container {
   display: flex;
   flex-direction: column;
   padding: 30px;
   box-sizing: border-box;
   justify-content: space-between;
   align-items: center;
   transition: all;
   margin: 30px auto;
   top: 50px;
 }

 .login_input {
   margin: 5px;
   height: 50px;
   width: 300px;
   background-color: transparent;
   display: flex;
   justify-content: center;
   flex-flow: column;
   align-items: center;
   border: none;
   border-bottom: 1px solid;
   color: rgb(5, 90, 146);
 }

 .Login__button {
   border-radius: 7px;
   padding: 10px 35px;
   cursor: pointer;
   margin: 20px;
   font-size: 25px;
   border-radius: 10px;
   color: white;
   background-color: rgba(46, 128, 236, 0.719);;

 }

 .Register__button {
   border-radius: 7px;
   padding: 10px 35px;
   cursor: pointer;
   margin: 20px;
   font-size: 25px;
   border-radius: 10px;
   color: white;
   background-color: rgba(46, 112, 236, 0.719);
 }

 .Home__button {
   border-radius: 7px;
   padding: 10px 35px;
   cursor: pointer;
   margin: 20px;
   font-size: 25px;
   border-radius: 10px;
   color: white;
   background-color: rgba(219, 100, 240, 0.061);
 }