<html>
    <head>
        <title>Logical Echo Newsletter</title>
    </head>
    <style>
        body {
            color: #000;
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            font-size: 16px;
            line-height: 24px;
        }
    </style>
    <body>
        <h1>See what's new in Logical Echo!</h1>
        <p>Hi, <%= name %>.</p>
        <p>We are excited to share with you this weeks' new sustainable products from some of the biggest brands out there!</p>
        <img src="<%= image1 %>" alt="">
        <img src="<%= image2 %>" alt="">
        <img src="<%= image3 %>" alt="">
        <img src="<%= image4 %>" alt="">
        <img src="<%= image5 %>" alt="">
        <img src="<%= image6 %>" alt="">
        <p>Come and see more in <a href="">Logical Echo!</a></p>
        <p>If you received this email by mistake, just delete it.</p>
        <p><em>The Logical Echo Team</em></p>
    </body>
</html>