@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* resets */

* {
    /* border: 1px dashed black; */
    box-sizing: border-box;
}

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(32, 51, 84);
}


.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* compos */
.container--title {

    font-size: 50px;

}

.button {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
}

.button--medium {
    min-width: 5rem;
}

.button--dark {
    background-color: black;
    color: white;
}

.field {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    /* margin: 5px; */
    padding: 10px;
    font-size: 1rem;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin, .signup, .landing {
    background-color: rgb(9, 53, 184);
    border: black;
    border-style: solid;
    border-radius: 15px;
    padding: 50px;
    height: 400px;
    width: 400px
}
.container--gapped {
    padding: 16px;
}

.container--vertical {
    flex-direction: column;
}

.home__results {
    list-style: none;
}

.home__result {
    cursor: pointer;
}

.home__detail-image {
    max-width: 80vw;
}
.nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    /* background-color: black; */
}

.nav--title {
    font-size: 20px;
    font-family: Bebas Neue;
}

/* modal */
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000; 
}

.modal__panel {
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 1rem;
    color: black;
    border-radius: 7px;
}

.modal__title {
    color: inherit;
}

.modal__message {
    color: inherit;
    padding: 12px 0;
}

.modal__button {
    color: white;
    background-color: black!important;
}
