.change-password {
    background-color: #ffffff;
    width: 400px;
    padding: 10px 20px 50px;
    border-radius: 20px;
    margin: 50px auto;
}

.change-password__input {
    margin-bottom: 20px;
}

.change-password__btn:first-of-type {
    margin-bottom: 20px;
}
