.search {
    /* width: 100%; */
    margin: 0 auto;
}

.search__input {
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto 1em;
}

.search__btn {
    width: 50%;
    margin: 0 auto;
    display: block;
}
