.login {
    background-color: #ffffff;
    width: 400px;
    padding: 10px 20px 50px;
    border-radius: 20px;
    margin: 50px auto;
}

.login__title {
    text-align: center;
    font-size: 2.3rem;
}

.login__input {
    margin-bottom: 20px;
}

.login__btn:first-of-type {
    margin-bottom: 20px;
}
