.register {
    background-color: #ffffff;
    width: 500px;
    padding: 20px 40px 50px;
    border-radius: 20px;
    margin: 50px auto;
}

.register__title {
    font-size: 2.5rem;
    text-align: center;
}

.register__title::before {
    content: "🙬 ";
}

.register__title::after {
    content: " 🙮";
}

.register__subtitle {
    text-align: center;
    font-size: 1.4rem;
}

.register__inputInline {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

.register__inputInline + .register__inputInline {
    margin-left: 16px;
}

.register__input {
    margin-bottom: 20px;
}

.register__inputCheck {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.register__btn:first-of-type {
    margin-bottom: 20px;
}
