.delete-account {
    background-color: #ffffff;
    width: 400px;
    padding: 10px 20px 50px;
    border-radius: 20px;
    margin: 50px auto;
}

.delete-account__title {
    text-align: center;
}

.delete-account__paragraph {
    text-align: center;
    color: rgb(192, 44, 44);
}

.delete-account__input {
    margin-bottom: 20px;
}

.delete-account__btn:first-of-type {
    margin-bottom: 20px;
}
