@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');
/* RESETS */

* {
    box-sizing: content-box;
    /* border: 1px dashed black;  */
}

/* GENERAL */

@import url('https://lorempixel.com/400/850/abstract/');

html, body {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

/* .body-bg {
    height: 400px;
    width: 100%;
   
    background:darkgray;
} */

@keyframes panning {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 100%;
    }
     50% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 0 100%;
    }
    200% {
      background-position: 0 0;
    }
  }
  
  .body-bg {
    position: relative;
    height: 100%;
    width: 100%;
    background: black url(http://unsplash.it/1900/1900/?random&blur);
    background-size: 200%;
    animation: panning 50s infinite linear;
  }
  
  .bgf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10;
  }
  

.pagelayout {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout__subtitle{
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 18px;
}


.landing__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-top: 170px;
}

.button__up{

margin-top: 40px;
}

.thank-you__buttons {
    margin-top: 165px;
} 

/* .home__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 300px;
}  */

#p-link{
    text-align: end;
    color: white;
}
.link:hover {
    color: orange;
}

.sign-in__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 130px;
}

.sign-up__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 37px;
}

.sign-in__form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up__form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__inputs {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;

}



/* REUSABLE */

.container--hide {
    display: none;
} 

.title {
    font-family: 'David Libre', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    mix-blend-mode: normal;
    text-align: center;
}

.title--font-height{
    line-height: 80px;
}



.button {
    /* display: flex;
    justify-content: center;
    border-radius: 25px;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(72, 212, 255);
    font-size: 1rem;
    width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */


    position: relative;
	width: 100px;
	padding: 10px 5px;
	text-align: center;
	background: #17202b;
	color : #FFF;
	font-family: sans-serif;
	text-transform: uppercase;
	border: 3px solid #0F161F;
	border-radius: 15px;
	box-shadow: 0 6px 0 rgba(15,22,31,1), 0 7px 2px rgba(0,0,0,0.4);
}


.button:active{
	top: 3px;
	box-shadow: 0 3px 0 rgba(15,22,31,1), 0 4px 2px rgba(0,0,0,0.8);
}

.unregister--button {

    color:rgb(187, 50,50);
}



.input {
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    font-size: 1rem;
    width: 200px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button--medium {
    min-width: 50px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner__image {
   
    width: 10vw;
    height: 10vw;
}
.container--full {
    height: 100%;
}